{% extends 'base.html.twig' %}

{% block title %}Duckuser index{% endblock %}

{% block body %}

    <h1>DUCKS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Photo de profil</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Duckname</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for duckuser in duckusers %}
            <tr>
                <td><figure ><img style="width: 100px; height: 80px;" src="{{ duckuser.photo }}" alt=""></figure></td>
                <td>{{ duckuser.firstname }}</td>
                <td>{{ duckuser.lastname }}</td>
                <td>{{ duckuser.duckname }}</td>
                <td>{{ duckuser.email }}</td>
                <td>{{ duckuser.password }}</td>

                <td>
                    <a class="btn btn-primary" href="{{ path('duckuser_show', {'id':duckuser.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('duckuser_edit', {'id': duckuser.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('duckuser_new') }}">Create new</a>

{% endblock %}
