{% extends 'base.html.twig' %}

{% block title %}Duckuser{% endblock %}

{% block body %}
<div class="container">
    <h1>Duckuser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ duckuser.id }}</td>
            </tr>
            <tr>
                <th>Photo profil</th>
                <td><figure ><img style="width: 100px; height: 80px;" src="{{ duckuser.photo }}" alt=""></figure></td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ duckuser.Firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ duckuser.Lastname }}</td>
            </tr>
            <tr>
                <th>Duckname</th>
                <td>{{ duckuser.Duckname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ duckuser.Email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ duckuser.Password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('duckuser_index') }}">back to list</a>

    <a href="{{ path('duckuser_edit', {'id': duckuser.id}) }}">edit</a>

    {{ include('duckuser/_delete_form.html.twig') }}
</div>
{% endblock %}
