{% extends 'base.html.twig' %}

{% block title %}Quack{% endblock %}

{% block body %}
    <div class="container">

        <div class="card" style="width: 18rem;">

            <img class="card-img-top" src="{{ quack.photo }}" alt="Card image cap">
            <tr>
                <th>Created at</th>
                <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <div>
                    <th>Author :</th>
                    <td>{{ quack.author.duckname }}</td>
                </div>

            </tr>

            <div class="card-body">
                <h5 class="card-title">{{ quack.title }}</h5>

                <p class="card-text">{{ quack.content }}</p>

            </div>

            <div class="card-body">
                <a href="{{ path('quack_index') }}">back to list</a>

                <a href="{{ path('quack_edit', {'id': quack.id}) }}">edit</a>

                {{ include('quack/_delete_form.html.twig') }}


            </div>
            </ul>
        </div>
    </div>
{% endblock %}
